.ant-notification {
    .ant-notification-notice {
        border-radius: 0px;
        margin-bottom: 0px;

        .ant-notification-notice-content {
            .ant-notification-notice-with-icon {
                .ant-notification-notice-message {
                    color: #ffffff !important;
                }
            }
        }
    }
}
